language: go
go:
  - 1.2
  - tip
before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - if ! go get code.google.com/p/go.tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi
install: go get -v .
script:
  - $HOME/gopath/bin/goveralls -service=travis-ci
